body {
  background-color: #008080;
  background-image: radial-gradient(#00a0a0 1px, transparent 1px);
  background-size: 20px 20px;
  font-family: "Comic Sans MS", "Chalkboard SE", cursive, sans-serif;
  color: #000;
  text-align: center;
  padding: 20px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  background-color: #e6e6e6;
  border: 5px ridge #c0c0c0;
  box-shadow: 10px 10px 0px rgba(0,0,0,0.2);
  width: 80%;
  max-width: 500px;
  padding: 25px;
  text-align: center;
}

hr {
  border: none;
  border-bottom: 3px dashed #0000ff;
  margin-bottom: 50px;
}

h1 {
  color: #ff00ff;
  text-shadow: 2px 2px #ffff00;
  font-size: 2.5em;
}

h2 {
  font-weight: bold;
  color: #0000ff;
  margin-bottom: 20px;
  display: block;
}

.secret {
  color: #008080
}

img {
  width: 100%;
}

button {
  background: linear-gradient(to bottom, #ffff00 0%, #ffcc00 100%);
  border: 3px outset #fff;
  padding: 10px 20px;
  font-family: inherit;
  font-weight: bold;
  cursor: pointer;
  margin: 5px;
}

button:active {
  border-style: inset;
}

.blink {
  animation: blinker 1s linear infinite;
  color: red;
}

@keyframes blinker {
  50% { opacity: 0; }
}
